# Dependencies
node_modules
dist

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests & temp files
test.yaml
*.log

# Development files
scripts
*.excalidraw

# Config files (optional)
tsconfig.json

# OS files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Misc
.vscode
.idea